*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EDF2F6;
}
nav{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 12px;
    position: sticky;
    top: 0;
}
.logo{
    width: 10rem;
}
nav ul li{
    display: inline;
    padding: 10px;
    font-size: 22px;
    font-family:  serif;
}
nav ul li a{
    text-decoration: none;
    color: #3e3e3e;
}
nav ul li a:hover{
    color: #183DB0;
    
}

.Hero{
    background: #EDF2F6;
    display: flex;
    justify-content: space-around;
    
}
.Hero-img{
    width: 40rem;
    padding-top: 10rem;
}
.Hero-text{
    font-size: 4rem;
    margin-left: 25px;
    padding-top: 10rem;
}
span{
    color: #183DB0;
}
.Hero div > p {
    margin-left: 25px;
}
 button{
    background:#117BCA ;
    padding: 8px;
    margin: 10px 20px;
    border-radius: 10px;
    color: #fff;
    border: 0;

}

/* form */
form{
    width: 70%;
    background-color: #fff;
    padding-left:6rem;
    margin-left: 12rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    
}
input,select{
    padding: 12px;
    margin: 8px;
}
.Submit{
    padding:10px 20px;
    background: linear-gradient(to right, #1838AE, #09B9E4) 
}
.Submit,button:hover{
    background: linear-gradient(to right, #09B9E4, #1838AE);
}